@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

:root {
  --nav-element1: rgb(94, 227, 136);
  --nav-element1-dark: rgb(77, 188, 112);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display";
}

html,
body {
  height: 100%;
  background: rgba(160, 240, 191, 0.1);
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem clamp(1rem, 5vw, 2rem);
  font-size: clamp(1rem, 1.25vw, 1.325rem);
}

nav h1 {
  font-size: clamp(1.5rem, 2.1vw, 2.25rem);
  white-space: nowrap;
}

nav h1 span {
  color: var(--nav-element1);
}

nav ul {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 30px;
}

ul {
  list-style: none;
}

ul li a {
  position: relative;
  white-space: nowrap;
}

nav ul li .link::before {
  content: "";
  height: 0.185rem;
  width: 110%;
  transform: scaleX(0);
  translate: -50%;
  position: absolute;
  bottom: -0.3125rem;
  left: 50%;
  background: var(--nav-element1);
  transform-origin: left;
  transition: all 0.3s;
}

nav ul li .link:hover:before {
  transform: scaleX(1);
}

nav ul li button {
  box-sizing: unset;
  padding: 0.625rem 2.2rem;
  border-radius: 0.625rem;
  background: var(--nav-element1);
  font-size: 1rem;
  transition: all 0.3s;
}

nav ul li button:hover {
  scale: 1.1;
  background: var(--nav-element1-dark);
}

.ham-burger {
  display: none;
}

.ham-burger-menu {
  min-height: 100vh;
  height: 100%;
  width: 17rem;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: translateX(200vw);
  background: rgb(237, 166, 148);
}

.ham-burger-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 0 30px;
}

.ham-burger-menu ul li {
  height: 30px;
  display: grid;
  align-items: center;
}

.close-btn{
  padding-right: 50px;
}

.ham-burger-menu button{
  margin-left: auto;
}


.ham-burger-menu.active a {
  font-size: 18px;
  opacity: 0;
  animation: move .625s ease-in-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes move {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.ham-burger-menu.active {
  transform: translateX(0);
}

section {
  min-height: 100dvh;
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
}

section > h1, .extra-section .logo h1{
  font-size: clamp(3.5rem, 7vw, 4rem);
  text-align: center;
}

.home {
  height: 100dvh;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background: url("./bg.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.home .content {
  padding: 1.25rem clamp(10px, 7vw, 25rem);
  text-align: left;
  flex: 1 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.content h1 {
  font-size: clamp(1rem, 7vw , 4rem);
}

.content p {
  margin-top: 1.25rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.content .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  gap: 1.875rem;
}

.content .btns button {
  padding: 1rem 2.5rem;
  border-radius: 100vw;
  font-size: 1.25rem;
  background: #eee;
  white-space: nowrap;
  transition: all 0.3s;
}

.content .btns button:hover {
  scale: 1.2;
  background: var(--nav-element1);
}

.home .image {
  flex: 2 0;
  height: 100%;
  background: url("./image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .img {
  height: 70%;
  width: 95%;
  border-radius: 7rem 15rem 0 0;
  background: url("./image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features,
.achievement {
  min-height: 70dvh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.features  > h1, .achievement  > h1, .best-courses > h1{
  font-size: clamp(0.625rem, 10vw,3.75rem);
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  height: fit-content;
  width: 90%;
}

.feature-card {
  flex: 0 0 300px;
  border-radius: 1.25rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  transition: all 0.3s;
  padding: clamp(1rem, 10vw ,3rem);
  background: #bfb;
}

.feature-card .feature-icon {
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 100vw;
  background: rgba(38, 223, 109, 0.293);
  transition: all 0.3s;
}

.feature-card:hover {
  border-top-right-radius: 7rem;
  outline: 4px solid var(--nav-element1);
}

.feature-card:hover > .feature-icon {
  background: rgba(38, 223, 109, 0.66);
}

.feature-card .feature-discription p {
  padding: 0 1.25rem;
  font-size: 1rem;
  text-align: center;
}

.achievement {
  height: fit-content;
  min-height: 50svh;
}

.achievement-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem clamp(3rem, 10vw, 10rem);
}

.achievement-card {
  padding: 1.25rem 1.875rem;
  height: 10rem;
  flex: 0 1 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #bfb;
  border-radius: 1rem;
  transition: all 0.3s;
}

.achievement-card:hover {
  scale: 1.2;
}

.achievement-title {
  font-size: clamp(0.625rem, 7vw, 2rem);
  margin-bottom: 1.25rem;
}

.course-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 4rem;
  padding: 2rem clamp(1rem, 7vw, 7rem);
}

.course-card {
  position: relative;
  flex: 0 2 340px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background: rgb(245, 247, 180);
  overflow: clip;
  border-radius: clamp(2rem, 2vw , 3rem);
  transition: all .3s;
}

.course-card:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 0 4px var(--nav-element1-dark);
}

.course-card .course-image {
  width: 100%;
  height: 60%;
  background: #242424;
  color: #fff;
}

.course-review,
.course-title,
.course-detials,
.more-info {
  height: 10%;
  padding: 1.72rem;
}

.course-title {
  font-size: clamp(0.625rem, 7vw, 2rem);
  text-align: left;
  font-weight: 700;
}

.course-card .price {
  position: absolute;
  top: 10px;
  right: 30px;
  background: var(--nav-element1);
  padding: 5px 10px;
  border-radius: 2px;
}

.more-course-btn {
  padding: 3rem 2.5rem;
  display: flex;
  width: 100%;
}

.more-course-btn button {
  margin-inline-start: auto;
  padding: 1.25rem 2.5rem;
  border-radius: 100vw;
  background: var(--nav-element1);
  font-size: 1.2rem;
  color: #efe;
  transition: all 0.3s;
}

.more-course-btn button:hover {
  background: var(--nav-element1-dark);
  scale: 1.2;
}

.extra-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background: #ddd;
}

.extra-section .logo h1{
  font-size: clamp(0.625rem, 10vw, 3.75rem);
}

.extra-section .links {
  font-size: clamp(1rem, 5vw, 1.25rem);
  columns: 2;
  column-gap: clamp(2px, 5vw ,70px);
}

.contact-links {
  display: flex;
  gap: 30px;
}

.contact-links svg {
  height: 50px;
}

@media only screen and (max-width: 1080px) {
  .home .image{
    display: none;
  }

  nav ul{
    gap: 20px;
  }

  .course-cards .course-card{
    flex-basis: 380px;
  }
}

@media only screen and (max-width: 980px) {
  nav ul li .link {
    display: none;
  }

  nav ul{
    gap: 10px;
  }

  .ham-burger {
    display: block;
  }
}

@media only screen and (max-width: 725px) {
  .feature-card, .achievement-card{
    flex-basis: 100%;
  }

  nav h1{
    white-space: wrap;
  }

}

